@brickOrange: #FC6131;
@lightBlue: #76D1DE;
@tagBlue: #A6E4ED;
@aquamarine: #8BE8CB;
@greyBlue: #7EA2AA;
@kiwiGreen: #9FD845;
@text:  #303633;
@lightGrey: #F2F2F2;
@cyclamen: #EB09BE;
@mandarin: #FF9729;

body {
	font-size: 22px;
	min-width: 21em;
	background-color: #FCFCFC;
}

.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


header {
	background: url('img/bg.jpg') center;
	background-size: cover;
	text-align: right;

	h1 {
		margin: 0 0.8em 1em 0;
		padding: 1.2em 0 0.8em 1.4em;
		color: #fff;
		font-weight: 300;
		letter-spacing: 0.03em;
		
	}

	div.social {
		position: fixed;
		top: 2em;
		left: 0.8em;
		width: 40px;
		overflow: hidden;
		text-align: left;

		a {
			font-size: 1.4em;
			display: block;
			height: 1.4em;
			white-space: no-wrap;
			line-height: 1.4em;
			margin-bottom: 0.06em;
			color: #fff;
			padding-bottom: 4px;
			margin-bottom: 12px;
			background: @lightBlue;
			transition: background-color 0.3s ease, color 0.3s ease;

			&:hover {
				background: @brickOrange;
				color: #fff;
			}

			span {
				visibility: hidden;
			}
		}
	}
}

nav {
	margin: -0.8em auto 1.2em auto;
	padding-left: 2em;

	a {
		padding: 0.4em
	}
}

figure {
	box-sizing: border-box;
	margin: 1.6em auto 2em auto;

	img {
		width: 100%;
	}

	figcaption {
		font-size: 0.8em;
		color: #737373;
		text-align: center;
		padding-top: 0.4em;
	}
}

article.listings {
	box-sizing: border-box;
	max-width: 32em;
	padding: 0 1.4em;

	section.intro {
		padding: 1.2em;
		padding-top: 0.4em;
		background: @lightBlue;
		color: #fff;
		letter-spacing: 0.02em;
	}

	section.intro.guest {
		display:none;
	}

	div.popup {
		display: none;
		background: @kiwiGreen;
		color: #fff;
		margin-top: 0.8em;
		padding: 1em;

		&.popup.active {
			display: block;
			opacity: 1;
		}
	}
	
	table.custom.basic {
		border: none !important;

		tr, th, thead, tbody {
			border: none !important;
			border-bottom: none !important;
		}

		div.ui.input {
			position: relative;
			display: inline-block;
			font-size: 0.8em;
			line-height: 75px;
		}

		th {
			font-size: 1.8em;
			padding: 0.3em 0;
		}

		tr td:first-child {
			position: relative;
			width: 100%;
			border: none;
			padding: 0.4em 0 1.6em 0;

			img {
				display: inline-block;
				box-sizing: border-box;
				padding: 0;
				margin-top: 0.3em;
				margin-right: 0.8em;
				width: 4em;
				height: 4em;
				vertical-align: top;
				border-left: 8px solid @brickOrange;

				&.rank-1 {
					border-color: @kiwiGreen;
				}

				&.rank-2 {
					border-color: @lightBlue;
				}

				&.rank-3 {
					border-color: @greyBlue;
				}

				&.rank-4 {
					border-color: @aquamarine;
				}

				&.rank-5 {
					border-color: @text;
				}

				&.rank-6 {
					border-color: @brickOrange;
				}

				&.rank-7 {
					border-color: @cyclamen;
				}

				&.rank-8 {
					border-color: @mandarin;
				}
			}
			
			div {
				display: inline-block;
				box-sizing: border-box;
				max-width: 24em;
				

				p {
					margin: 0;
					padding-right: 0.4em;
					margin-bottom: 0.3em;
				}

				p:first-child {
					font-size: 1.2em;
					font-weight: 600;
					text-transform: capitalize;
				}


			}
		}
	}
}

footer {
	box-sizing: border-box;
	background: @text;
	margin-top: 2em;
	color: #fff;

	p {
		margin: 0 auto;
		max-width: 960px;
		width: 90%;
		padding: 3.4em 0.8em;
		background-image: url('img/rise-powered.png');
		background-position-x: left;
		background-position-y: 20%;
		background-repeat: no-repeat;
	}
	
}

#challenge {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;

	&.guest {
		display: none;
	}
	
	button[type="submit"] {
		background: @brickOrange;
		margin-top: 1.2em;
	}

	button[type="button"] {
		background: @kiwiGreen;
		margin-top: 1.2em;
	}

	input {
		display: inline-block;
		font-size: 0.8em;
		width: 16em;
	}

	.ui.label {
		font-size: 0.8em;
		margin-top: 0.4em;
		background: @tagBlue;
	}

	#tabs {

		div.item {
			color: #fff;
			background-color: @lightGrey;
			cursor: pointer;

			&:first-child {
				background: @brickOrange;
			}


			&.second {
				background: @lightBlue;
			}

			&:last-child {
				background: @kiwiGreen;
			}

			&.active {
				border-width: 2px;
				background: @lightGrey;
				color: @text;
				border-bottom: none;
			}	
		}
		
	}

	div.bottom.attached.tab.segment.active {
		background: @lightGrey;

		h3 {
			font-size: 1.2em;
		}
	}
	
}

@media (min-width: 760px) {
	header {
		height: 11.4em;
		text-align: right;
		margin-bottom: 1.2em;

		h1 {
			display: inline-block;
			position: relative;
			bottom: -4.4em;
			margin-right: 3em;
			width: 328px;
			height: 95px;
			background: url('img/Logo.png');
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	article {
		max-width: 980px;
		margin: 0 auto;
		margin-bottom: 3em;
	}

	nav a {
		margin: 0 0 4em 0.8em;
		padding: 0.6em;
	}

	figure {
		max-width: 700px;
	}


	table.basic.custom:first-child {
		margin: 2.4em auto;
	}
}

@media (min-width: 980px) {
	article.listings {
		max-width: 47em;
	}
}


[hidden] { display: none; }

div.awesomplete {
	display: inline-block;
	position: relative;
}

div.awesomplete > input {
	display: block;
}

div.awesomplete > ul {
	position: absolute;
	left: 0;
	z-index: 1;
	min-width: 100%;
	box-sizing: border-box;
	list-style: none;
	padding: 0;
	border-radius: .3em;
	margin: .2em 0 0;
	background: hsla(0,0%,100%,.9);
	background: linear-gradient(to bottom right, white, hsla(0,0%,100%,.8));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: .05em .2em .6em rgba(0,0,0,.2);
	text-shadow: none;
}

div.awesomplete > ul[hidden],
div.awesomplete > ul:empty {
	display: none;
}

@supports (transform: scale(0)) {
	div.awesomplete > ul {
		transition: .3s cubic-bezier(.4,.2,.5,1.4);
		transform-origin: 1.43em -.43em;
	}
	
	div.awesomplete > ul[hidden],
	div.awesomplete > ul:empty {
		opacity: 0;
		transform: scale(0);
		display: block;
		transition-timing-function: ease;
	}
}

/* Pointer */
div.awesomplete > ul:before {
	content: "";
	position: absolute;
	top: -.43em;
	left: 1em;
	width: 0; height: 0;
	padding: .4em;
	background: white;
	border: inherit;
	border-right: 0;
	border-bottom: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

div.awesomplete > ul > li {
	position: relative;
	padding: .2em .5em;
	cursor: pointer;
}

div.awesomplete > ul > li:hover {
	background: hsl(200, 40%, 80%);
	color: black;
}

div.awesomplete > ul > li[aria-selected="true"] {
	background: hsl(205, 40%, 40%);
	color: white;
}

div.awesomplete mark {
	background: hsl(65, 100%, 50%);
}

div.awesomplete li:hover mark {
	background: hsl(68, 101%, 41%);
}

div.awesomplete li[aria-selected="true"] mark {
	background: hsl(86, 102%, 21%);
	color: inherit;
}
