@brickOrange: #FC6131;
@lightBlue: #76D1DE;
@aquamarine: #8BE8CB;
@greyBlue: #7EA2AA;
@kiwiGreen: #9FD845;
@text:  #303633;
@lightGrey: #F2F2F2;

body {
	font-size: 22px;
	min-width: 21em;
	background-color: #FCFCFC;
}

.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}


header {
	background: @kiwiGreen;

	h1 {
		margin: 0;
		margin-bottom: 1.6em;
		padding: 1.2em 0 0.8em 1.4em;
		color: #fff;
		font-weight: 300;
		letter-spacing: 0.03em;
	}

	div.ui.input {
		display: none;
		position: absolute;
		right: 0;
		top: 13em;
		margin-top: -6.7em;
		margin-right: 1.4em;
	}
}

article.listings {
	box-sizing: border-box;
	max-width: 32em;
	padding: 0 1.4em;
	
	table.custom.basic {
		margin: 0 auto;
		border: none !important;

		tr, th, thead, tbody {
			border: none !important;
			border-bottom: none !important;
		}

		th {
			font-size: 1.8em;
			padding: 0.3em 0;

		}

		tr td:first-child {
			position: relative;
			width: 100%;
			border: none;
			padding: 0.4em 0 1.6em 0;

			img {
				display: inline-block;
				box-sizing: border-box;
				padding: 0;
				margin-top: 0.3em;
				margin-right: 0.8em;
				width: 4em;
				height: 4em;
				vertical-align: top;
				border-left: 8px solid @brickOrange;
			}
			
			div {
				display: inline-block;
				box-sizing: border-box;
				max-width: 24em;
				

				p {
					margin: 0;
					padding-right: 0.4em;
					margin-bottom: 0.3em;
				}

				p:first-child {
					font-size: 1.2em;
					font-weight: 600;
					text-transform: capitalize;
				}


			}
		}

		img {
			display: inline-block;
			margin: 0;
		}
	}

	div.social {
		display: none;
		position: fixed;
		top: 13em;
		right: 2em;
		width: 30px;
		overflow: hidden;
		text-align: left;

		a {
			font-size: 2em;
			display: block;
			widht: 2.3em;
			height: 1.2em;
			white-space: no-wrap;
			line-height: 1.4em;
			margin-bottom: 0.06em;

			span {
				visibility: hidden;
			}
		}
	}
}

#challenge {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	
	#tabs {

		div.item {
			color: #fff;
			background-color: @lightGrey;

			&:first-child {
				background: @brickOrange;
			}


			&.second {
				background: @lightBlue;
			}

			&:last-child {
				background: @kiwiGreen;
			}

			&.active {
				border-width: 2px;
				background: @lightGrey;
				color: @text;
				border-bottom: none;
			}	
		}

		
		
	}

	div.bottom.attached.tab.segment.active {
		background: @lightGrey;
	}
	
}

@media (min-width: 760px) {
	header {
		background: url('img/bg.jpg') center;
		background-size: cover;
		height: 23em;
		text-align: right;
		margin-bottom: 2.3em;

		h1 {
			display: inline-block;
			position: relative;
			bottom: -12.4em;
			margin-right: 3em;
			width: 328px;
			height: 95px;
			background: url('img/Logo.png');
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
		}
	}

	article {
		max-width: 980px;
		margin: 0 auto;
	}
}

@media (min-width: 980px) {
	article.listings {
		max-width: 47em;
	}
}

